<nav class="navbar">
  <div class="navbar-container container">
    <a href="/" class="logo">
      <img src="https://i.postimg.cc/P5DPkjZ2/png.png" alt="GetReady_logo" height="40">
    </a>
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Our Services</a></li>
      <li><a href="#projects">Scholarships</a></li>
      <li><a href="#projects">Opportunities</a></li>
      <li><a href="#about">Blogs</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/login" class="btn-login">Login</a></li>
      <li><a href="/register" class="btn-register">Register</a></li>
    </ul>
    <!-- <h1 class="logo">GetReady</h1> -->
  </div>
</nav>







<!-- <header data-header class="header">
  <div class="logo">
    <img src="#" alt="GetReady Logo">
    Replace 'logo.png' with your actual logo image
  </div>

  <nav class="navigation">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About Us</a></li>
      <li><a href="#services">Our Services</a></li>
      <li><a href="#contact">Contact Us</a></li>
    </ul>
  </nav>
  <div class="hamburger-menu" data-nav-toggler>
    ☰
  </div>
</header>

<div data-overlay class="overlay"></div>
<script src="script.js"></script>

 -->

<!-- 
<nav class="navbar">
  <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
      </div>
      <ul class="menu-items">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#food">Category</a></li>
          <li><a href="#food-menu">Menu</a></li>
          <li><a href="#testimonials">Testimonial</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>
      <h1 class="logo">RS</h1>
  </div>
</nav>
<section class="showcase-area" id="showcase">
  <div class="showcase-container">
    <h1 class="main-title" id="home">Eat Right Food</h1>
    <p>Eat Healty, it is good for our health.</p>
    <a href="#food-menu" class="btn btn-primary">Menu</a>
  </div>
</section> -->

<!-- <nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav> -->