<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
        <!-- 
    - #HEADER
  -->

    <%- include("./partials/nav.ejs") %>

    <section class="showcase-area" id="showcase">
        <div class="showcase-container">
            <h1 class="main-title" id="home">Discover Global Opportunities</h1>
            <p class="submain-title">Get Ready to Transition from Planning to Achievement</p>
            <a href="#services" class="btn btn-primary">Explore</a>
        </div>
    </section>
<!-- ./////////////////////...services.....//////////////////////////////////////////////////////////.... -->


<section class="cards" id="services">
    <h2 class="title">Our Services </h2>
    <div class="content">
      <div class="card">
        <div class="icon">
          <img src="https://i.postimg.cc/VLtBN3PH/17.png" alt="Service Image">
        </div>
        <div class="service_1_card-logo">
          <img src="https://i.postimg.cc/bw9yHHt9/scholarship.png" alt="Logo">
        </div>

        <div class="info">
          <h3>Scholarships</h3>
          <p>Discover full and partial scholarships that provide financial support for your academic journey. Browse a
            wide range of scholarships available from leading universities across various fields of study</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="https://i.postimg.cc/fWpfDMp9/12.jpg" alt="Service Image">
        </div>
        <div class="service_1_card-logo">
          <img src="https://i.postimg.cc/85CmPcTh/student.png" alt="Logo">
        </div>
        <div class="info">
          <h3>Educational Opportunities</h3>
          <p>Explore a variety of educational opportunities, including tuition-free universities, training courses, and
            skill development programs that enhance your abilities and open up new horizons.</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="https://i.postimg.cc/kX8XDdMZ/8.jpg" alt="Service Image">
        </div>
        <div class="service_1_card-logo">
          <img src="https://i.postimg.cc/N0Dxcmvs/certificate.png" alt="Logo">
        </div>
        <div class="info">
          <h3>Study Abroad</h3>
          <p>Start your future now with opportunities to enroll in top universities around the world: the United States,
            Canada, Australia, Europe, Turkey, China, and more. Embark on your educational journey and discover the
            world from new perspectives</p>
        </div>
      </div>
      <div class="card">
        <div class="icon">
          <img src="https://i.postimg.cc/kX8XDdMZ/8.jpg" alt="Service Image">
        </div>
        <div class="service_1_card-logo">
          <img src="https://i.postimg.cc/5yT3rJd8/job-offer.png" alt="Logo">
        </div>
        <div class="info">
          <h3>Job Opportunities</h3>
          <p>Kickstart your career by exploring job opportunities available locally and internationally. Access the information you need to find the ideal position that matches your skills and aspirations.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- .///////////////////////////////////////////////////////////////////////////////.... -->

<!-- /////////////........Oppertunities.............//////////////////////////////////////................///////////// -->
<section class="projects" id="projects">
  <h2 class="title">Lastest Oppertunities</h2>
  <div class="content">
      <div class="project-card">
          <div class="project-image">
              <img src="https://j.top4top.io/p_3183i9pz01.jpg" />
          </div>
          <div class="project-info">
              <p class="project-category">Script Writing & Video Production</p>
              <strong class="project-title">
                  <span>Scholarship</span>
                  <a href="#" class="more-details">More details</a>
              </strong>
          </div>
      </div>
      <div class="project-card">
          <div class="project-image">
              <img src="https://b.top4top.io/p_3183fjv1h1.jpg" />
          </div>
          <div class="project-info">
              <p class="project-category">Tomorrow Leaders Scholarship</p>
              <strong class="project-title">
                  <span>Scholarship</span>
                  <a href="#" class="more-details">More details</a>
              </strong>
          </div>
      </div>
      <div class="project-card">
          <div class="project-image">
              <img src="https://d.top4top.io/p_3183ikcop1.jpg" />
          </div>
          <div class="project-info">
              <p class="project-category">Open Doors scholarship</p>
              <strong class="project-title">
                  <span>Dev Books</span>
                  <a href="#" class="more-details">More details</a>
              </strong>
          </div>
      </div> 
  </div>
</section>
<!-- /////////////....................//////////////////////////////////////................///////////// -->
    <!-- .........///////......about.....///////////.............////////////////////// -->
  </section>
  <section id="about">
    <div class="about-wrapper container">
      <div class="about-text">
        <p class="small">About Us</p>
        <p>
          <br>We are a dedicated team specializing in providing academic support. We began as a volunteer initiative to help students find suitable educational opportunities. With years of experience in offering scholarships and academic services, we work to facilitate access to these opportunities and guide students toward the best options for their academic paths
        </p>
      </div>
      <div class="about-img">
        <img src="https://i.postimg.cc/HsQ0sJJB/Portfolio-3-Jim-Fahad-Digital.jpg" alt="food" />
      </div>
    </div>
  </section>
<!-- ////////////............testimonials.........../////////////////// -->
  <section id="testimonials">
    <h2 class="testimonial-title">What Our Customers Say</h2>
    <div class="testimonial-container container">
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="" />
            <p class="customer-name">Ali Al-Abdali</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          GetReady made my scholarship dream a reality with professional, step-by-step support. Highly recommended
      </div>
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
            <p class="customer-name">Fatima Al-Qahtani</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          Thanks to GetReady, I secured admission to a European university. Fantastic service and support
      </div>
      <div class="testimonial-box">
        <div class="customer-detail">
          <div class="customer-photo">
            <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
            <p class="customer-name">Ahmed Al-Zahrani</p>
          </div>
        </div>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <p class="testimonial-text">
          GetReady helped me find the ideal educational opportunity. Their team is friendly and efficient        </p>

      </div>
    </div>
    <!-- /////////................contact.................//////// -->
  </section>
  <section id="contact">
    <div class="contact-container container">
      <div class="contact-img">
        <img src="https://i.postimg.cc/Wpq6CYsR/Portfolio-2-Jim-Fahad-Digital.jpg" alt="" />
      </div>

      <div class="form-container">
        <h2>Contact Us</h2>
        <input type="text" placeholder="Your Name" />
        <input type="email" placeholder="E-Mail" />
        <textarea cols="30" rows="6" placeholder="Type Your Message"></textarea>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>
    </div>
  </section>
  <!-- <footer id="footer"> -->

    <%- include("./partials/footer.ejs") %>
  <!-- </footer> -->


</body>
</html>


